{% extends 'portfolio/base.html' %}
{% block title %}Change your password{% endblock %}
{% block content %}
<div class="container">
    <h1>Change your password</h1>
    <p>Use the form below to change your password.</p>
    <form action="." method="post">
    <p><label for="id_old_password">Old password:</label> <input type="password" name="old_password" autocomplete="current-password" autofocus="" required="" id="id_old_password"></p>
    <!-- <ul class="errorlist">
        <li>This field is required.</li>
    </ul> -->
    <p><label for="id_new_password1">New password:</label> <input type="password" name="new_password1" autocomplete="new-password" required="" id="id_new_password1"> <span class="helptext"></span></p>
    <p></p>
    <p><label for="id_new_password2">New password confirmation:</label> <input type="password" name="new_password2" autocomplete="new-password" required="" id="id_new_password2"></p>
    
    {% if errors %}
    <ul class="errorlist">
        <li style="color:Red">{{errors}}</li>
    </ul>
    {% endif %}
        <p><input type="submit" value="Change"></p>
        {% csrf_token %}
    </form>
</div>
{% endblock content %}