{% load static %}

<h1 > Change Password</h1>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}"{% endif %} >{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<form action="" method="post" class="form-signin">
    {% csrf_token %}
    {{ form.as_p }}
    <!--<input type="email" id="inputEmail" name="email" class="form-control" placeholder="Email address" required="" autofocus="">
    <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required="">-->
    <button class="btn btn-primary btn-block" type="submit">Reset Password</button>
    <a href="{% url 'portfolio:login_view' %}" ><i class="fas fa-angle-left"></i> Back</a>
    </form>
    <br>
</div>
